.menu{
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    background-color: rgb(29, 28, 28);
   
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo{
        color: cornflowerblue;
        font-size: 1.5em;
}

div a{
    color: white;
    text-decoration: none;
    margin-right: 0.8em;
    color: white;

}

.carrito{
    
    color:cornflowerblue;
}

