.menu{
    display: flex;
    flex-wrap: nowrap;
    height: 55px;
    background-color: rgb(29, 28, 28);
   
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo{
        color: cornflowerblue;
        font-size: 1.7em;
}

.logo:hover{
    cursor: pointer;
}

.menu a{
    color: white;
    text-decoration: none;
    margin-right: 0.8em;
    color: white;
    font-size: 1.2em;

}

.menu a:hover{
   opacity: 0.85;
   text-decoration: overline;
   
}


